*.jar
*.class
*.war
*/WEB-INF/classes
*~

*.cache.html
*.cache.png
*.cache.gif

/.settings

war/WEB-INF/deploy/
war/WEB-INF/classes/
war/WEB-INF/lib/

src/main/resources/cfg

.classpath
.project
/target/
