@CHARSET "ISO-8859-1";

/***************************************************/
/** GENERAL ****************************************/
/***************************************************/
body {
  	font-family: Arial Unicode MS, Arial, sans-serif;
	background-color: #F0F0F0 !important;
	font-size: 100% !important;
}

/* avoid font boosting in Android Chrome */
html * {max-height:1000000px;}

input[type=text],input[type=password],select,textarea {
	width: 200px;
}

div#wrapper {
	background-color: white;
	min-width: 700px;
	max-width: 1800px;
	margin: 0 auto;
	border: 1px solid #C0C0C0;
}

header#majorheader {
	background-image: url(img/logo_scansite.png);
	background-repeat: no-repeat;
	background-position: left;
	height: 103px;
	width: 100%;
}

header#majorheader h1 {
	visibility: hidden;
	margin: 0;
	padding: 0;
}

div#content {
	overflow: hidden;
	padding: 5px 5px 5px 10px;
	border-left: 1px dotted #C0C0C0;
	line-height: 1.5em;
	font-size: 1.0em;
}

h3 emph,h4 emph {
	color: orange;
}

/***************************************************/
/** MESSAGES ***************************************/
/***************************************************/
span.errorMessage {
	color: red;
	padding: 3px;
	border: 1px dotted red;
	font-size: 0.9em;
}

span.warningMessage {
	color: orange;
	padding: 3px;
	border: 1px dotted orange;
	font-size: 0.9em;
}

span.infoMessage {
	color: blue;
	padding: 3px;
	border: 1px dotted blue;
	font-size: 0.9em;
}

.inline {
	display: inline;
}

span.footnote {
	font-size: 0.8em;
}

/***************************************************/
/** TABLES *****************************************/
/***************************************************/
td {
	border-top: 1px dotted #C0C0C0;
}

td,th {
	padding: 0 6px;
}

th.numeric,td.numeric {
	text-align: right;
}

th {
	font-weight: bold;
}

/***************************************************/
/** NAVIGATION BAR *********************************/
/***************************************************/
nav {
	float: left;
	width: 250px;
	padding: 5px;
}

nav h2 {
	margin: 0;
	padding: 5px;
	font-variant: small-caps;
	font-size: 1.2em;
}

nav h3 {
	margin: 0;
	padding: 5px;
	font-variant: small-caps;
	font-size: 1.0em;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul ul {
	margin-left: 15px;
}

nav a:link,nav a:visited,nav a:active,nav a:focus {
	font-size: 0.9em;
	text-align: left;
	background-image: url(img/nav_bullet_inactive.png);
	background-repeat: no-repeat;
	background-position: left center;
	border: none;
	border-bottom: 1px solid #F0F0F0;
	padding: 3px 0 3px 18px;
	color: black;
	text-decoration: none;
	display: block;
}

nav li.sel a:link,nav li.sel a:visited,nav li.sel a:active,nav li.sel a:focus
	{
	background-image: url(img/nav_bullet_selected.png);
	border-bottom: 1px solid #808080;
}

nav li.nosel a:link,nav li.nosel a:visited,nav li.nosel a:active,nav li.nosel a:focus
	{
	background-image: url(img/nav_bullet_inactive.png);
	border-bottom: 1px solid #F0F0F0;
}


nav a:hover {
	display: block;
	text-decoration: none;
	color: #c38816;
	border-bottom: 1px solid #c38816;
	background-image: url(img/nav_bullet_active.png);
}

/***************************************************/
/** BREADCRUMBS NAVIGATION ***************************/
/***************************************************/
div#breadcrumbs {
	overflow: hidden;
	padding: 10px;
	font-size: 0.9em;
	color: #C0C0C0;
	border-bottom: 1px dotted #C0C0C0;
	font-family: Helvetica, sans-serif;
}

div#breadcrumbs a:link,div#breadcrumbs a:visited,div#breadcrumbs a:active
	{
	text-decoration: none;
	color: #C0C0C0;
}

div#breadcrumbs a:hover {
	text-decoration: underline;
	color: #c38816;
}

/***************************************************/
/** HEADINGS ***************************************/
/***************************************************/
div#content h2 {
	margin: 0 0 8px 0;
	padding: 8px 0;
	font-family: 'Trebuchet MS', Allerta, sans-serif;
	font-size: 2.2em;
	color: #ca5b0a;
	border-bottom: 1px solid #C0C0C0;
}

div#content h3 {
	margin: 5px 0;
	padding: 5px 0;
	font-family: 'Trebuchet MS', Allerta, sans-serif;
	font-size: 1.7em;
	border-bottom: 1px dotted #C0C0C0;
}

div#content h4 {
	margin: 3px 0;
	padding: 3px 0;
	font-family: 'Trebuchet MS', Allerta, sans-serif;
	font-size: 1.4em;
}

div#content h2+div#content h3 {
	margin-top: 0;
}

div#content h3+div#content h4 {
	margin-top: 0;
}

/***************************************************/
/** NEWS *******************************************/
/***************************************************/
div.newsentry {
	cursor: default;
}

div.newsentry p {
	margin: 0 15px;
	padding: 0 15px;
	border-left: 5px solid #F0F0F0;
}

div.newsentry p.metainfo {
	padding-left: 20px;
	font-size: 0.9em;
	font-variant: small-caps;
}

/***************************************************/
/** NEWS *******************************************/
/***************************************************/
ul.home {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.home a:link,ul.home a:visited,ul.home a:active,ul.home a:focus {
	background-repeat: no-repeat;
	background-color: #F0F0F0;
	border: 1px solid #C0C0C0;
	padding: 3px;
	margin: 2px;
	color: black;
	text-decoration: none;
	display: block;
	width: 150px;
	height: 150px;
	text-align: center;
	float: left;
}

ul.home a:hover {
	background-color: #f8ce7c;
	text-decoration: none;
}

ul.home a.uniprot:link,ul.home a.uniprot:visited,ul.home a.uniprot:active,ul.home a.uniprot:focus
	{
	background-image: url(img/dslogos/uniprot_inactive.png);
	background-position: 50% 90px;
}

ul.home a.uniprot:hover {
	background-image: url(img/dslogos/uniprot.png);
}

ul.home a.ncbi:link,ul.home a.ncbi:visited,ul.home a.ncbi:active,ul.home a.ncbi:focus
	{
	background-image: url(img/dslogos/ncbi_inactive.png);
	background-position: 50% 100px;
}

ul.home a.ncbi:hover {
	background-image: url(img/dslogos/ncbi.png);
}

ul.home a.embl:link,ul.home a.embl:visited,ul.home a.embl:active,ul.home a.embl:focus
	{
	background-image: url(img/dslogos/embl_inactive.png);
	background-position: 50% 100px;
}

ul.home a.embl:hover {
	background-image: url(img/dslogos/embl.png);
}

ul.home a.sgd:link,ul.home a.sgd:visited,ul.home a.sgd:active,ul.home a.sgd:focus
	{
	background-image: url(img/dslogos/sgd_inactive.png);
	background-position: 50% 80px;
}

ul.home a.sgd:hover {
	background-image: url(img/dslogos/sgd.png);
}

ul.home a.lc3:link,ul.home a.lc3:visited,ul.home a.lc3:active,ul.home a.lc3:focus
	{
	background-image: url(img/dslogos/lc3_inactive.png);
	background-position: 50% 110px;
}

ul.home a.lc3:hover {
	background-image: url(img/dslogos/lc3.png);
}

/***************************************************/
/** SEQUENCEPATTERNWIDGET **************************/
/***************************************************/
.sequencePatternWidgetPhosphorylationCheckBox {
	display: block;
	text-align: center;
}

.sequencePatternWidgetPhosphorylationCheckBox label {
	width: 0;
	line-height: 0;
}

.sequencePatternWidgetLabelColor {
	text-align: center;
	background-color: #F0F0F0;
}

.sequencePatternWidgetFixedPosLabelColor {
	text-align: center;
	background-color: #C9DCA6;
}

/***************************************************/
/** SEQUENCEPATTERN ********************************/
/***************************************************/
.regexWidgetPhosphorylationSiteColor {
	color: blue;
}

.sequence {
	font-family: courier, monospace;
	white-space: nowrap;
	text-align: left;
}

.mismatch {
	color: red;
}

.phosphoSite {
	color: blue;
	font-weight: bold;
}

.innerSiteRegion {
	border-bottom: 1px dotted green;
}

.leftBorderSiteRegion {
	border-left: 1px dotted green;
	border-bottom: 1px dotted green;
}

.rightBorderSiteRegion {
	border-right: 1px dotted green;
	border-bottom: 1px dotted green;
}

/***************************************************/
/** CALCOMPOSITION *********************************/
/***************************************************/
table.aminoAcidCompositionTable {
	font-size: 0.6em;
}

table.aminoAcidCompositionTable .label {
	font-weight: bold;
	text-align: center;
}

table.aminoAcidCompositionTable .centerValue {
	margin: 0;
	padding: 0;
}

table.aminoAcidCompositionTable .evenRowValue {
	margin: 0;
	padding: 0;
}

table.aminoAcidCompositionTable .oddRowValue {
	margin: 0;
	padding: 0;
}

table.aminoAcidCompositionTable td,table.aminoAcidCompositionTable tr {
	margin: 0;
	padding: 0;
}

/***************************************************/
/** FEATURES ***************************************/
/***************************************************/
.scrollable {
	width: auto;
	overflow: auto;
}

.linkLike {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

/***************************************************/
/** FORMS ******************************************/
/***************************************************/
fieldset {
	margin-bottom: 10px;
	border: none;
	border-top: 1px solid #C9DCA6;
	border-left: 4px solid #C9DCA6;
	padding-left: 5px;
}

fieldset legend {
	padding: 0 2px;
	font-weight: bold;
	font-size: 0.9em;
}

fieldset label,div.paramView label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	width: 280px;
}

div.paramView li li label {
	width: 270px;
}

fieldset label:first-child,div.paramView label:first-child {
	font-variant: small-caps;
}

fieldset span label,div.paramView span label {
	width: auto;
}

fieldset ol,div.paramView ol {
	margin: 0;
	padding: 0;
}

fieldset li,div.paramView li {
	list-style: none;
	padding: 5px 0 5px 10px;
	margin: 0;
}

div.paramView span {
	display: inline-block;
}

fieldset li+li,div.paramView li+li {
	border-top: 1px dotted #C0C0C0;
}

fieldset ol.sub,div.paramView ol.sub {
	font-size: 0.9em;
}

fieldset ol.sub li,div.paramView ol.sub li {
	padding: 2px;
	border: none;
}

fieldset fieldset {
	border-left: 4px solid #C9DCA6;
	margin: 3px 0 0;
}

fieldset em,div.paramView em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
}

fieldset fieldset label {
	width: 260px;
}

*.waitImage {
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(img/wait_small.gif);
}

li.paramSectionTitle {
	font-weight: bold
}

span.default {
	color: gray;
	font-style: italic;
}

table.no-style,table.no-style td {
	padding: 0;
	margin: 0;
	border-width: 0;
}

.floatleft {
	float: left;
}

/***************************************************/
/** FOOTER *****************************************/
/***************************************************/
footer#majorfooter {
	width: 100%;
	text-align: center;
	font-size: 0.9em;
	color: #808080;
}

footer#majorfooter ul {
	margin: 3px auto;
	padding: 0;
	width: 642px;
	list-style-type: none;
}

footer#majorfooter li {
	margin: 0;
	padding: 0;
	float: left;
}

footer#majorfooter ul a:link,footer#majorfooter ul a:visited,footer#majorfooter ul a:active
	{
	display: block;
	margin: 2px;
	padding: 5px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center center;
	height: 40px;
}

footer#majorfooter ul a:hover {
	margin: 2px;
	padding: 5px;
}

footer#majorfooter p a:link,footer#majorfooter p a:visited,footer#majorfooter p a:active
	{
	color: #808080;
	text-decoration: underline;
}

footer#majorfooter p a:hover {
	color: #c38816;
}

a#mit:link,a#mit:visited,a#mit:active {
	width: 73px;
	background-image: url(img/logos/mit_inactive.png);
}

a#mit:hover {
	width: 73px;
	background-image: url(img/logos/mit_active.png);
}

a#ki:link,a#ki:visited,a#ki:active {
	width: 140px;
	background-image: url(img/logos/ki_inactive.png);
}

a#ki:hover {
	width: 140px;
	background-image: url(img/logos/ki_active.png);
}

a#fhh:link,a#fhh:visited,a#fhh:active {
	width: 62px;
	background-image: url(img/logos/fhh_inactive.png);
}

a#fhh:hover {
	width: 62px;
	background-image: url(img/logos/fhh_active.png);
}

a#mps:link,a#mps:visited,a#mps:active {
	width: 111px;
	background-image: url(img/logos/mps_inactive.png);
}

a#mps:hover {
	width: 111px;
	background-image: url(img/logos/mps_active.png);
}

a#stjude:link,a#stjude:visited,a#stjude:active {
	width: 52px;
	background-image: url(img/logos/stjude_inactive.png);
}

a#stjude:hover {
	width: 52px;
	background-image: url(img/logos/stjude_active.png);
}

a#mgri:link,a#mgri:visited,a#mgri:active {
	width: 69px;
	background-image: url(img/logos/mgri_inactive.png);
}

a#mgri:hover {
	width: 69px;
	background-image: url(img/logos/mgri_active.png);
}

a#bidmc:link,a#bidmc:visited,a#bidmc:active {
	width: 36px;
	background-image: url(img/logos/bidmc_inactive.png);
}

a#bidmc:hover {
	width: 36px;
	background-image: url(img/logos/bidmc_active.png);
}

/***************************************************/
/** COLORS *****************************************/
/***************************************************/
.red {
	color: red;
}

.green {
	color: green;
}

.orange {
	color: orange;
}

/***************************************************/
/** GWT CONTROLS ***********************************/
/***************************************************/
.gwt-SuggestBoxPopup td,.gwt-DecoratedPopupPanel td,.gwt-DecoratedPopupPanel th
	{
	border-width: 0;
	padding: 0;
}


/***************************************************/
/** Web Service ************************************/
/***************************************************/
.goToTopLink {
	font-size: smaller;
}